<html>
    <body>
        <h1>My TODO List:</h1>
        <table>
            <tbody>
                {% for t in tasks %}
                    <tr>
                        <td>
                            {{ t.completed|yesno:'✔️,❌' }}
                        </td>
                        <td>
                            <a href="{{ t.get_edit_form_url }}">{{ t.title }}</a>
                        </td>
                        <td>
                            {% for l in t.labels %}
                                <span>{{ l.name }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
    </body>
</html>